/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Paleta de Colores 
    #7C3E66
    #243A73
    #A5BECC
    #F2EBE9 */

body {
    background-color: #F2EBE9;
}

header {
    background-color: #A5BECC;
    padding: 20px;
}

header nav {
    color: white;
}

h1,h2,h3,h4,h5,h6,legend,label {
    color: #7C3E66;
    font-family: 'Quicksand', sans-serif;
}

p,main,div,li,select,fieldset {
    font-family: 'Roboto', sans-serif;
}

ol {
    font-family: 'Quicksand', sans-serif;
}

footer {
    color: #243A73;
    background-color: #A5BECC;
    font-family: 'Quicksand', sans-serif;
}

.divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.slider-principal {
    background-color: #ffe9e9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 5px solid #243A73;
    margin: auto;
}

.slider-principal-items {
    max-width: 850px;
    align-items: center;
}

.slider-principal section {
    font-size: 20px;
    margin-left: 50px;
    padding: 20px 10px;
    width: 450px;
}

.slider-principal .image-container {
    text-align: center;
}

.slider-principal img {
    margin: 60px;
}

.button {
    background-color: #243A73;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover{
    background-color: #7C3E66;
    outline: 1.5px dashed #000000;
    outline-offset: 3px;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin-bottom: 0;
}

.navigation-bar-item {
    padding-right: 20px;
}

.image-skills{
    max-width: 100%;
}

.navigation-bar-item a {
    font-family: 'Quicksand', sans-serif;
    color: #243A73;
    text-decoration: none;
}

.image-profile {
    max-width: 100%;
    box-shadow: 2px 2px 20px #555555;
    border-radius: 40px;
}

.image-profile:hover {
    transform: scale(1.1);
}

.title-services {
    text-align: center;
}

.title-page-services {
    text-align: center;
    color: white;
}

.slider-logos {
    padding-left: 20px;
    padding-right: 20px;
}

.social-media {
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.social-media img {
    padding-right: 10px;
    width: 25px;
}

.social-media ul {
    display: flex;
}

.social-media p, .social-media ul {
    margin-bottom: 0;
}

.btn-submit {
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #7C3E66;
    padding: 20px;
}

.btn-reset {
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #7C3E66;
    padding: 20px;
}

/* Página de Servicios */

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.slider-item {
    max-width: 260px;
    max-height: 160px;
    padding-right: 60px;
}

.slider-services {
    background: linear-gradient(rgba(0, 29, 122, 0.70), rgba(0, 29, 112, 0.70)), url("https://cronicaglobal.elespanol.com/uploads/s1/86/70/61/5/teletrabajo.jpeg");
    background-size: cover;
    margin-bottom: 50px;
    padding: 120px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.video-container {
    max-width: 780px;
    margin: auto;
}

.video-container-items {
    padding-top: 50px;
    text-align: center;
}

.services-container-items {
    padding-top: 50px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#skills span {
    top: -30px;
    padding-left: 20px;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
}

.skills-items {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
}

progress {
    background-color: #f3f3f3;
    border: 0;
    width: 100%;
    height: 22px;
}

progress::-webkit-progress-bar {
    background-color: #e0eaf0;
}

progress::-webkit-progress-value {
    background-color: #243A73;
}

progress::-moz-progress-bar {
    background-color: #243A73;
}

.page-content {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    position: relative;
    display: flex;
    place-items: center;
    overflow: hidden;
    text-align: center;
    color: rgb(0, 0, 0);
    border: solid #243A73;
    border-radius: 20px;
    background-color: whitesmoke;
    justify-content: center;
}

.card:hover{
    box-shadow: 2px 2px 20px #666666;
}

@media (min-width: 600px) {
    .card {
        height: 270px;
    }
}

.card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background: rgb(130, 155, 168);
    background: linear-gradient(90deg, rgba(130, 155, 168, 1) 0%, rgba(165, 190, 204, 1) 84%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.copy {
    line-height: 1.35;
}

.btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    color: white;
    border-radius: 20px;
    background-color: #243A73;
    border: none;
}

.btn:hover {
    background-color: #7C3E66;
    outline: 1.5px dashed #000000;
    outline-offset: 3px;
}

@media (max-width: 768px) {
    .slider-principal img {
        margin: 0;
    }
    .card {
        margin-bottom: 15px;
    }
    .navigation-bar-item {
        padding: 10px;        
    }
    .navigation-bar-item a {
        font-size: 11px;
    }
}

@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }

    .content {
        transform: translateY(42%);
    }

    .content>*:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .card:hover,
    .card:focus-within {
        align-items: center;
    }

    .card:hover:before,
    .card:focus-within:before {
        transform: translateY(-4%);
    }

    .card:hover:after,
    .card:focus-within:after {
        transform: translateY(-50%);
    }

    .card:hover .content,
    .card:focus-within .content {
        transform: translateY(0);
    }

    .card:hover .content>*:not(.title),
    .card:focus-within .content>*:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }

    .card:focus-within:before,
    .card:focus-within:after,
    .card:focus-within .content,
    .card:focus-within .content>*:not(.title) {
        transition-duration: 0s;
    }
}

.slider-experience {
    background-image: url("https://fonte.com.co/wp-content/uploads/2021/07/FONDO-EXPERIENCIA-scaled.jpg");
    background-size: cover;
    margin-bottom: 50px;
    padding: 120px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title-page-experience{
    text-align: center;
    color: #ffffff;
}